[include]
    path = .gitconfig.defaults
    path = .gitconfig.local
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
  required = true
[alias]
  churn = !git log --all -M -C --name-only --format='format:' "$@" | sort | grep -v '^$' | uniq -c | sort | awk 'BEGIN {print "count,file"} {print $1 "," $2}'
  fancy = "!git diff --color $@ | diff-so-fancy"
  co = checkout
  st = status -sb
  logp = log --oneline --decorate 
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
[url "https://"]
	insteadOf = git://
[url "ssh://"]
	insteadOf = git://
[user]
	email = sam.feder@amcnetworks.com
	name = Sam Feder
[mergetool]
	keepBackup = false
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
